[submodule "anvil"]
	path = anvil
	url = https://github.com/minetest-mods/anvil.git
[submodule "castle_farming"]
	path = castle_farming
	url = https://github.com/minetest-mods/castle_farming.git
[submodule "castle_gates"]
	path = castle_gates
	url = https://github.com/minetest-mods/castle_gates.git
[submodule "castle_lighting"]
	path = castle_lighting
	url = https://github.com/minetest-mods/castle_lighting.git
[submodule "castle_masonry"]
	path = castle_masonry
	url = https://github.com/minetest-mods/castle_masonry.git
[submodule "castle_shields"]
	path = castle_shields
	url = https://github.com/minetest-mods/castle_shields.git
[submodule "castle_storage"]
	path = castle_storage
	url = https://github.com/minetest-mods/castle_storage.git
[submodule "castle_tapestries"]
	path = castle_tapestries
	url = https://github.com/minetest-mods/castle_tapestries.git
[submodule "castle_weapons"]
	path = castle_weapons
	url = https://github.com/minetest-mods/castle_weapons.git
[submodule "crafting_bench"]
	path = crafting_bench
	url = https://github.com/minetest-mods/crafting_bench.git
[submodule "orbs_of_time"]
	path = orbs_of_time
	url = https://github.com/minetest-mods/orbs_of_time.git
[submodule "ropes"]
	path = ropes
	url = https://github.com/minetest-mods/ropes.git
